<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>Chennis Dashboard</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta content="A premium admin dashboard template by themesbrand" name="description" />
        <meta content="Mannatthemes" name="author" />

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

        <!-- App favicon -->
        <link rel="shortcut icon" href="<?php echo $this->Url->build('/back_end/assets/images/favicon.ico'); ?>">


        <link href="<?php echo $this->Url->build('/back_end/assets/plugins/ticker/jquery.jConveyorTicker.css'); ?>" rel="stylesheet" type="text/css" />
        <link href="<?php echo $this->Url->build('/back_end/assets/plugins/dropify/css/dropify.min.css'); ?>" rel="stylesheet">
        
           <!-- Plugins css -->
        <link href="<?php echo $this->Url->build('/back_end/assets/plugins/timepicker/tempusdominus-bootstrap-4.css'); ?>" rel="stylesheet" />
        <link href="<?php echo $this->Url->build('/back_end/assets/plugins/timepicker/bootstrap-material-datetimepicker.css'); ?>" rel="stylesheet">
        <link href="<?php echo $this->Url->build('/back_end/assets/plugins/clockpicker/jquery-clockpicker.min.css'); ?>" rel="stylesheet" />
        <link href="<?php echo $this->Url->build('/back_end/assets/plugins/colorpicker/asColorPicker.min.css'); ?>" rel="stylesheet" type="text/css" />
        <link href="<?php echo $this->Url->build('/back_end/assets/plugins/select2/select2.min.css'); ?>" rel="stylesheet" type="text/css" />

        <link href="<?php echo $this->Url->build('/back_end/assets/plugins/jvectormap/jquery-jvectormap-2.0.2.css'); ?>" rel="stylesheet">

        <!-- DataTables -->
        <link href="<?php echo $this->Url->build('/back_end/assets/plugins/datatables/dataTables.bootstrap4.min.css'); ?>" rel="stylesheet" type="text/css" />
        <link href="<?php echo $this->Url->build('/back_end/assets/plugins/datatables/buttons.bootstrap4.min.css'); ?>" rel="stylesheet" type="text/css" />
        <!-- Responsive datatable examples -->
        <link href="<?php echo $this->Url->build('/back_end/assets/plugins/datatables/responsive.bootstrap4.min.css'); ?>" rel="stylesheet" type="text/css" /> 

        <!-- App css -->
        <link href="<?php echo $this->Url->build('/back_end/assets/css/bootstrap.min.css'); ?>" rel="stylesheet" type="text/css" />
        <link href="<?php echo $this->Url->build('/back_end/assets/css/icons.css'); ?>" rel="stylesheet" type="text/css" />
        <link href="<?php echo $this->Url->build('/back_end/assets/css/metismenu.min.css'); ?>" rel="stylesheet" type="text/css" />
        <link href="<?php echo $this->Url->build('/back_end/assets/css/style.css'); ?>" rel="stylesheet" type="text/css" />

    </head>

    <body>

         <?php echo $this->element('back_end/nav'); ?>   
        <div class="page-wrapper-img">
            <div class="page-wrapper-img-inner">
                <div class="sidebar-user media">                    
                    <img src="<?php echo $this->Url->build('/back_end/assets/images/users/user-1.jpg'); ?>" alt="user" class="rounded-circle img-thumbnail mb-1">
                    <span class="online-icon"><i class="mdi mdi-record text-success"></i></span>
                    <div class="media-body">
                        <h5 class="text-light">Mr. Michael Hill </h5>
                        <ul class="list-unstyled list-inline mb-0 mt-2">
                            <li class="list-inline-item">
                                <a href="javascript: void(0);" class=""><i class="mdi mdi-account text-light"></i></a>
                            </li>
                            <li class="list-inline-item">
                                <a href="javascript: void(0);" class=""><i class="mdi mdi-settings text-light"></i></a>
                            </li>
                            <li class="list-inline-item">
                                <a href="javascript: void(0);" class=""><i class="mdi mdi-power text-danger"></i></a>
                            </li>
                        </ul>
                    </div>                    
                </div>
                <!-- Page-Title -->
                <div class="row">
                    <div class="col-sm-12">
                        <div class="page-title-box">
                            <div class="float-right align-item-center mt-2">
                                <?php echo $this->Flash->render(); ?>   
                            </div>
                            <h4 class="page-title mb-2"><i class="mdi mdi-monitor mr-2"></i>Dashboard</h4>  
                            <div class="">
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item"><a href="javascript:void(0);">Frogetor</a></li>
                                    <li class="breadcrumb-item"><a href="javascript:void(0);">Dashboard</a></li>
                                    <li class="breadcrumb-item active">Dashboard 1</li>
                                </ol>
                            </div>                                      
                        </div>
                    </div>
                </div>
                <!-- end page title end breadcrumb -->
            </div>
        </div>
        
        <div class="page-wrapper">
            <div class="page-wrapper-inner">

                <?php echo $this->element('back_end/aside'); ?>  

                <?= $this->fetch('content') ?>
            </div>
        </div>
        <!-- end page-wrapper -->

        <!-- jQuery  -->
        <script src="<?php echo $this->Url->build('/back_end/assets/js/jquery.min.js');?>"></script>
        <script src="<?php echo $this->Url->build('/back_end/assets/js/bootstrap.bundle.min.js');?>"></script>
        <script src="<?php echo $this->Url->build('/back_end/assets/js/metisMenu.min.js');?>"></script>
        <script src="<?php echo $this->Url->build('/back_end/assets/js/waves.min.js');?>"></script>
        <script src="<?php echo $this->Url->build('/back_end/assets/js/jquery.slimscroll.min.js');?>"></script>

        <script src="<?php echo $this->Url->build('/back_end/assets/plugins/jvectormap/jquery-jvectormap-2.0.2.min.js');?>"></script>
        <script src="<?php echo $this->Url->build('/back_end/assets/plugins/jvectormap/jquery-jvectormap-world-mill-en.js');?>"></script>

        <script src="<?php echo $this->Url->build('/back_end/assets/plugins/moment/moment.js');?>"></script>
        <script src="<?php echo $this->Url->build('/back_end/assets/plugins/apexcharts/apexcharts.min.js');?>"></script>
        <script src="https://apexcharts.com/samples/assets/irregular-data-series.js"></script>
        <script src="https://apexcharts.com/samples/assets/series1000.js"></script>
        <script src="https://apexcharts.com/samples/assets/ohlc.js"></script>
        <script src="<?php echo $this->Url->build('/back_end/assets/pages/jquery.dashboard.init.js'); ?>"></script>


        <!-- Required datatable js -->
        <script src="<?php echo $this->Url->build('/back_end/assets/plugins/datatables/jquery.dataTables.min.js'); ?>"></script>
        <script src="<?php echo $this->Url->build('/back_end/assets/plugins/datatables/dataTables.bootstrap4.min.js'); ?>"></script>
        <!-- Buttons examples -->
        <script src="<?php echo $this->Url->build('/back_end/assets/plugins/datatables/dataTables.buttons.min.js'); ?>"></script>
        <script src="<?php echo $this->Url->build('/back_end/assets/plugins/datatables/buttons.bootstrap4.min.js'); ?>"></script>
        <script src="<?php echo $this->Url->build('/back_end/assets/plugins/datatables/jszip.min.js'); ?>"></script>
        <script src="<?php echo $this->Url->build('/back_end/assets/plugins/datatables/pdfmake.min.js'); ?>"></script>
        <script src="<?php echo $this->Url->build('/back_end/assets/plugins/datatables/vfs_fonts.js'); ?>"></script>
        <script src="<?php echo $this->Url->build('/back_end/assets/plugins/datatables/buttons.html5.min.js'); ?>"></script>
        <script src="<?php echo $this->Url->build('/back_end/assets/plugins/datatables/buttons.print.min.js'); ?>"></script>
        <script src="<?php echo $this->Url->build('/back_end/assets/plugins/datatables/buttons.colVis.min.js'); ?>"></script>
        <!-- Responsive examples -->
        <script src="<?php echo $this->Url->build('/back_end/assets/plugins/datatables/dataTables.responsive.min.js'); ?>"></script>
        <script src="<?php echo $this->Url->build('/back_end/assets/plugins/datatables/responsive.bootstrap4.min.js'); ?>"></script>
        <script src="<?php echo $this->Url->build('/back_end/assets/pages/jquery.datatable.init.js'); ?>"></script>


        <script src="<?php echo $this->Url->build('/back_end/assets/plugins/dropify/js/dropify.min.js'); ?>"></script>
        <script src="<?php echo $this->Url->build('/back_end/assets/pages/jquery.form-upload.init.js'); ?>"></script>

        <!-- App js -->
        <script src="<?php echo $this->Url->build('/back_end/assets/js/app.js');?>"></script>

        <style type="text/css">
            .navbar-custom {
                background: #3ebffc;
            }
        </style>

    </body>
</html>